{% extends 'base.home.html' %}{% load staticfiles %}
{% block app %}
    {{ ornekdata }}
    {% for block in blocks %}

        {{ block.title1 }}
        {{ block.name }}
        {{ block.title2 }}
            <br/>
    {% endfor %}
    <div class="page">
        <!-- top panel -->
        <div class='site_top_panel wave slider'>
            <!-- canvas -->
            <div class='top_half_sin_wrapper'>
                <canvas class='top_half_sin' data-bg-color='#ffffff' data-line-color='#ffffff'></canvas>
            </div>
            <!-- / canvas -->
            <div class='container'>
                <div class='row_text_search'>
                    <div id='top_panel_text'><a href="tel:+90 541 722 13 75"><i class="fa fa-phone-square"></i>
                        +90 541 722 13 75</a>
                        <a href="mailto:mail@mail.com"> <i class="fa fa-envelope-o"></i>cocukcacim@gmail.com</a>
                    </div>
                    <form method="get" class="search-form" action="#">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="text" class="search-field vova" value="" name="s" title="Search for:"/>
                        </label>
                        <input type="submit" class="search-submit" value="Search"/>
                        <input type='hidden' name='lang' value='en'/>
                    </form>
                </div>
                <div id='top_panel_links'>
                    <div class='search_icon'></div>
                    <div id='top_social_links_wrapper'>
                        <div class='share-toggle-button'><i class='share-icon fa fa-share-alt'></i></div>
                        <div class='cws_social_links'><a href='https://twitter.com/cocukcacim' target="_blank"
                                                         class='cws_social_link' title='Twitter'><i
                                class='share-icon fa fa-twitter'></i></a><a
                                href='https://www.facebook.com/cocukcacim/?ref=bookmarks' target="_blank"
                                class='cws_social_link' title='Facebook'><i class='share-icon fa fa-facebook'></i></a><a
                                href='https://www.instagram.com/cocukcacim/' target="_blank" class='cws_social_link'
                                title='İnstagram'><i class='share-icon fa fa-instagram'></i></a></div>
                    </div>

                </div>
                <div class="site_top_panel_toggle"></div>
            </div>
        </div>
        <!-- / top panel -->
        <!-- slider and menu container -->
        <div class='slider_vs_menu'>
            <div class='header_cont'>
                <div class='header_mask'>
                    <div class='header_pattern'></div>
                </div>
                <header class='site_header logo-in-menu' data-menu-after="3">
                    <div class="header_box">
                        <div class="container">
                            <!-- logo -->
                            <div class="header_logo_part with_border" role="banner">
                                <a class="logo" href="index.html"><img src='img/cocukca-logo.png'
                                                                       data-at2x='img/cocukca-logo.png' alt/></a>
                            </div>
                            <!-- / logo -->
                            <!-- menu -->
                            <div class="header_nav_part">
                                <nav class="main-nav-container a-right">
                                    <div class="mobile_menu_header">
                                        <i class="mobile_menu_switcher"><span></span><span></span><span></span></i>
                                    </div>
                                    <ul id="menu-main-menu" class="main-menu menu-bees">
                                        <!-- menu item -->
                                        <li class="menu-item current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children bees-start">
                                            <a href="index.html">
                                                <div class="bees bees-start"><span></span>
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                                Anasayfa
                                                <div class="canvas_wrapper">
                                                    <canvas class="menu_dashed"></canvas>
                                                </div>
                                            </a>
                                            <span class='button_open'></span>
                                        </li>
                                        <!-- / menu item -->
                                        <!-- menu item -->
                                        <li class="menu-item menu-item-has-children"><a href="hikayemiz.html">Hikayemiz
                                            <div class="canvas_wrapper">
                                                <canvas class="menu_dashed"></canvas>
                                            </div>
                                        </a>
                                            <span class='button_open'></span>
                                            <ul class="sub-menu">

                                            </ul>
                                        </li>
                                        <!-- / menu item -->
                                        <!-- menu item -->
                                        <li class="menu-item menu-item-has-children"><a href="yonetim.html">Yönetim
                                            <div class="canvas_wrapper">
                                                <canvas class="menu_dashed"></canvas>
                                            </div>
                                        </a>
                                            <span class='button_open'></span>
                                            <ul class="sub-menu">
                                                <li class="menu-item back"><a href="#"><em>←</em>&nbsp;BACK</a>
                                                </li>


                                            </ul>
                                        </li>
                                        <!-- / menu item -->
                                        <!-- menu item -->
                                        <li class="menu-item menu-item-has-children right"><a href="etkinlikler.html">Etkinlik
                                            <div class="canvas_wrapper">
                                                <canvas class="menu_dashed"></canvas>
                                            </div>
                                        </a>
                                            <span class='button_open'></span>

                                        </li>
                                        <!-- / menu item -->
                                        <!-- menu item -->
                                        <li class="menu-item menu-item-has-children right"><a href="tuzuk.html">Tüzük
                                            <div class="canvas_wrapper">
                                                <canvas class="menu_dashed"></canvas>
                                            </div>
                                        </a>
                                            <span class='button_open'></span>

                                        </li>
                                        <!-- / menu item -->
                                        <!-- menu item -->
                                        <li class="menu-item right bees-end">
                                            <a href="iletisim.html">
                                                <div class="bees bees-end"><span></span>
                                                    <div class="line-one"></div>
                                                    <div class="line-two"></div>
                                                </div>
                                                İletişim
                                                <div class="canvas_wrapper">
                                                    <canvas class="menu_dashed"></canvas>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- / menu item -->
                                    </ul>
                                </nav>
                            </div>
                            <!-- / menu -->
                        </div>
                    </div>
                </header>
                <!-- #masthead -->
            </div>
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                <!-- START REVOLUTION SLIDER 5.0.9 fullwidth mode -->
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.9">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-1" data-transition="random,fade" data-slotamount="7,7"
                            data-easein="default,default" data-easeout="default,default" data-masterspeed="300,500"
                            data-thumb="img/dots-pattern-100x50.png" data-rotate="0,0" data-saveperformance="off"
                            data-title="Slide" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="img/dots-pattern.png" alt="" width="43" height="24"
                                 data-bgposition="center center" data-bgfit="normal" data-bgrepeat="repeat"
                                 data-bgparallax="1" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-23"
                                 data-x="center" data-hoffset="" data-y="center" data-voffset=""
                                 data-width="['none','none','none','none']" data-height="['none','none','none','none']"
                                 data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="990"
                                 data-responsive_offset="on" style="z-index: 5;"><img
                                    src="pic/revslider/general/sunshine_home1.png" alt="" width="1920" height="650"
                                    data-ww="1920px" data-hh="650px" data-no-retina>
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption home-h2   tp-resizeme rs-parallaxlevel-9" id="slide-1-layer-1"
                                 data-x="30" data-y="213" data-width="['auto']" data-height="['auto']"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none"
                                 data-splitout="none" data-responsive_offset="on"
                                 style="z-index: 6; white-space: nowrap;">
                                HOŞGELDİNİZ!
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption home-h1   tp-resizeme rs-parallaxlevel-9" id="slide-1-layer-2"
                                 data-x="30" data-y="275" data-width="['auto']" data-height="['auto']"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none"
                                 data-splitout="none" data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap;">

                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption home-general-font   tp-resizeme rs-parallaxlevel-9 none-visible-mobile"
                                 id="slide-1-layer-22" data-x="30" data-y="345"
                                 data-width="['none','none','none','none']" data-height="['none','none','none','none']"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="auto:auto;s:300;" data-start="500" data-responsive_offset="on"
                                 style="z-index: 8;border-color:rgba(0, 0, 0, 1.00);"><img
                                    src="pic/revslider/general/slider_devider.png" alt="" width="300" height="8"
                                    data-ww="300px" data-hh="8px" data-no-retina>
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption home-general-font   tp-resizeme rs-parallaxlevel-9 none-visible-mobile"
                                 id="slide-1-layer-3" data-x="30" data-y="385" data-width="['auto']"
                                 data-height="['auto']" data-transform_idle="o:1;"
                                 data-transform_in="y:50px;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none"
                                 data-splitout="none" data-responsive_offset="on"
                                 style="z-index: 9; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Patrick Hand;border-color:rgba(0, 0, 0, 1.00);">
                                Çocuk İstismarıyla Mücadele ve
                            </div>
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption home-general-font   tp-resizeme rs-parallaxlevel-9 none-visible-mobile"
                                 id="slide-1-layer-4" data-x="29" data-y="413" data-width="['auto']"
                                 data-height="['auto']" data-transform_idle="o:1;"
                                 data-transform_in="y:50px;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none"
                                 data-splitout="none" data-responsive_offset="on"
                                 style="z-index: 10; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Patrick Hand;border-color:rgba(0, 0, 0, 1.00);">
                                Çocuk Haklarını Koruma Derneği
                            </div>
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" id="slide-1-layer-5" data-x="-36"
                                 data-y="589" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:290;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="500"
                                 data-responsive_offset="on" style="z-index: 11;"><img
                                    src="pic/revslider/general/grass.png" alt="" width="1469" height="162"
                                    data-ww="1484px" data-hh="130px" data-no-retina>
                            </div>
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-1-layer-7" data-x="761"
                                 data-y="186" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="500"
                                 data-responsive_offset="on" style="z-index: 12;"><img
                                    src="pic/revslider/general/rainbow.png" alt="" width="421" height="424"
                                    data-ww="398px" data-hh="424px" data-no-retina>
                            </div>
                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" id="slide-1-layer-6" data-x="362"
                                 data-y="181" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="570"
                                 data-responsive_offset="on" style="z-index: 13;"><img
                                    src="pic/revslider/general/children.png" alt="" width="662" height="484"
                                    data-ww="662px" data-hh="484px" data-no-retina>
                            </div>
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-1-layer-9" data-x="325"
                                 data-y="132" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="990"
                                 data-responsive_offset="on" style="z-index: 14;">
                                <div class="rs-looped rs-wave" data-speed="9" data-angle="0" data-radius="5px"
                                     data-origin="50% 50%"><img src="pic/revslider/general/cloud-1.png" alt=""
                                                                width="91" height="37" data-ww="91px" data-hh="37px"
                                                                data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-1-layer-10" data-x="-117"
                                 data-y="311" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;s:300;"
                                 data-start="580" data-responsive_offset="on" style="z-index: 15;">
                                <div class="rs-looped rs-wave" data-speed="9" data-angle="0" data-radius="5px"
                                     data-origin="50% 10%"><img src="pic/revslider/general/cloud-2.png" alt=""
                                                                width="90" height="40" data-ww="90px" data-hh="40px"
                                                                data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-1-layer-13" data-x="1122"
                                 data-y="69" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="790"
                                 data-responsive_offset="on" style="z-index: 16;">
                                <div class="rs-looped rs-wave" data-speed="11" data-angle="0" data-radius="5px"
                                     data-origin="50% 50%"><img src="pic/revslider/general/cloud-5.png" alt=""
                                                                width="180" height="72" data-ww="180px" data-hh="72px"
                                                                data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-1-layer-14" data-x="-127"
                                 data-y="70" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="710"
                                 data-responsive_offset="on" style="z-index: 17;">
                                <div class="rs-looped rs-wave" data-speed="9" data-angle="0" data-radius="5px"
                                     data-origin="50% 10%"><img src="pic/revslider/general/cloud-6.png" alt=""
                                                                width="180" height="72" data-ww="180px" data-hh="72px"
                                                                data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-1-layer-18" data-x="898"
                                 data-y="50" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="590"
                                 data-responsive_offset="on" style="z-index: 18;">
                                <div class="rs-looped rs-wave" data-speed="9" data-angle="0" data-radius="10"
                                     data-origin="50% 50%"><img src="pic/revslider/general/cloud-2.png" alt=""
                                                                width="90" height="40" data-ww="90px" data-hh="40px"
                                                                data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 15 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-1-layer-19" data-x="1259"
                                 data-y="528" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="920"
                                 data-responsive_offset="on" style="z-index: 19;">
                                <div class="rs-looped rs-wave" data-speed="12" data-angle="0" data-radius="10"
                                     data-origin="50% 50%"><img src="pic/revslider/general/cloud-1.png" alt=""
                                                                width="91" height="37" data-ww="91px" data-hh="37px"
                                                                data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 16 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" id="slide-1-layer-20" data-x="-243"
                                 data-y="478" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="780"
                                 data-responsive_offset="on" style="z-index: 20;">
                                <div class="rs-looped rs-wave" data-speed="11" data-angle="0" data-radius="5px"
                                     data-origin="50% 1%"><img src="pic/revslider/general/cloud-3.png" alt=""
                                                               width="271" height="108" data-ww="271px" data-hh="108px"
                                                               data-no-retina>
                                </div>
                            </div>
                            <!-- LAYER NR. 17 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-1-layer-21" data-x="1150"
                                 data-y="328" data-width="['none','none','none','none']"
                                 data-height="['none','none','none','none']" data-transform_idle="o:1;"
                                 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:300;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;" data-start="990"
                                 data-responsive_offset="on" style="z-index: 21;">
                                <div class="rs-looped rs-wave" data-speed="11" data-angle="0" data-radius="5px"
                                     data-origin="50% 50%"><img src="pic/revslider/general/cloud-4.png" alt=""
                                                                width="271" height="108" data-ww="271px" data-hh="108px"
                                                                data-no-retina>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="tp-static-layers"></div>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>
        <!-- / slider and menu container -->
        <div class='benefits_area wave'>
            <!-- canvas -->

            <!-- / canvas -->

            <!-- canvas -->
            <div class="cloud_wrapper">
                <canvas class="white_cloud"></canvas>
            </div>
            <!-- / canvas -->
            <!-- main container -->
            <div id="main" class="site-main">
                <div class="page_content">
                    <!-- pattern conatainer / -->
                    <div class='left-pattern pattern pattern-2'></div>
                    <main>
                        <!-- section -->
                        <div class='grid_row clearfix' style='padding-top: 30px;'>
                            <div class='grid_col grid_col_8'>
                                <!-- about us -->
                                <div class='ce clearfix'>
                                    <div>
                                        <h3 class="ce_title">Dünya<span> ne durumda? </span>
                                        </h3>
                                        <p> Dünyada İstismara maruz kalan çocukların %70’i 2-10 yaş arasında.<br> Çocuk
                                            istismarı oranı dünyada %1 ila % 10 arasında değişirken ülkemizde bu rakam
                                            %10
                                            ila %53 arasındadır ve duygusal istismar %78; fiziksel istismar %24; cinsel
                                            istismarın ise % 9 oranında olduğu tespit edilmiştir.</p>
                                        <h3 class="ce_title">Türkiye <span>ne durumda?</span></h3>
                                        <ul class="checkmarks_style">
                                            <p>Üzülerek belirtmek gerekir ki bugün Ülkemiz çocuk istismarı konusunda
                                                dünyada
                                                3.sıradadır. İllerimizden İstanbul birinci, İzmir ikinci, Adana üçüncü
                                                sırada yer alırken Antalya'mız ise dördüncü sıradadır. Türkiye'de tahmin
                                                edilen en yakın oranda çocukluk çağı cinsel istismarı 3 kız çocuğundan
                                                biri,
                                                5 erkek çocuğundan biri şeklinde oldukça yüksek ve tüyler ürpertici bir
                                                orandır.</p>
                                        </ul>
                                    </div>
                                </div>
                                <!-- / about us -->
                            </div>
                            <div class='grid_col grid_col_4'>
                                <div class='ce clearfix'>
                                    <div><img class="noborder alignnone image-type size-full" src="img/cck4.jpg"
                                              alt="kid_playing" width="385" height="373"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / section -->
                        <!-- divider -->
                        <div class='grid_row clearfix'>
                            <div class='grid_col grid_col_12'>
                                <div class='ce clearfix'>
                                    <div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / divider -->
                        <!-- heading section -->
                        <div class='grid_row clearfix'>
                            <div class='grid_col grid_col_12'>
                                <div class='ce clearfix'>
                                    <div>
                                        <h3 class="ce_title" style="text-align: center;"><span>Ne Yapmalıyız?</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / heading section -->
                        <!-- section -->
                        <div class='grid_row clearfix'>
                            <div class='grid_col grid_col_4'>
                                <div class='ce clearfix'>
                                    <div>
                                        <div class='cws_fa_tbl'>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell size_1x'>
                                                    <div class='cws_fa_wrapper round'><i
                                                            class='cws_fa fa fa-1x fa-university'></i><span
                                                            class='ring'></span>
                                                    </div>
                                                </div>
                                                <div class='cws_fa_tbl_cell'>
                                                    <h3>Öncelikle çocuk istismarı konusunda yeterince bilgi sahibi
                                                        olun.</h3></div>
                                            </div>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell'></div>
                                                <div class='cws_fa_tbl_cell'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='ce clearfix'>
                                    <div>
                                        <div class='cws_fa_tbl'>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell size_1x'>
                                                    <div class='cws_fa_wrapper round'><i
                                                            class='cws_fa fa fa-1x fa-cubes'></i><span
                                                            class='ring'></span>
                                                    </div>
                                                </div>
                                                <div class='cws_fa_tbl_cell'>
                                                    <h3>Çocuklarınızla sık sık arkadaş gibi sohbetler edin ve onlara
                                                        "Bize
                                                        her şeyini anlatabilirsin" mesajını aşılayın.</h3></div>
                                            </div>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell'></div>
                                                <div class='cws_fa_tbl_cell'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='grid_col grid_col_4'>
                                <div class='ce clearfix'>
                                    <div>
                                        <div class='cws_fa_tbl'>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell size_1x'>
                                                    <div class='cws_fa_wrapper round'><i
                                                            class='cws_fa fa fa-1x fa-book'></i><span
                                                            class='ring'></span>
                                                    </div>
                                                </div>
                                                <div class='cws_fa_tbl_cell'>
                                                    <h3>Çocuğa iyi ve kötü davranışların neler olduğu
                                                        öğretilmelidir.</h3>
                                                </div>
                                            </div>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell'></div>
                                                <div class='cws_fa_tbl_cell'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='ce clearfix'>
                                    <div>
                                        <div class='cws_fa_tbl'>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell size_1x'>
                                                    <div class='cws_fa_wrapper round'><i
                                                            class='cws_fa fa fa-1x fa-child'></i><span
                                                            class='ring'></span>
                                                    </div>
                                                </div>
                                                <div class='cws_fa_tbl_cell'>
                                                    <h3> Çocuklara bedenlerinin kendilerine ait ve özel olduğu, kimsenin
                                                        zorla ve istemediği şekilde dokunamayacağı öğretilmedir.</h3>
                                                </div>
                                            </div>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell'></div>
                                                <div class='cws_fa_tbl_cell'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='grid_col grid_col_4'>
                                <div class='ce clearfix'>
                                    <div>
                                        <div class='cws_fa_tbl'>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell size_1x'>
                                                    <div class='cws_fa_wrapper round'><i
                                                            class='cws_fa fa fa-1x fa-heart'></i><span
                                                            class='ring'></span>
                                                    </div>
                                                </div>
                                                <div class='cws_fa_tbl_cell'>
                                                    <h3>Çocuğa ona inandığınız duygusunu vermek önemlidir.</h3></div>
                                            </div>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell'></div>
                                                <div class='cws_fa_tbl_cell'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='ce clearfix'>
                                    <div>
                                        <div class='cws_fa_tbl'>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell size_1x'>
                                                    <div class='cws_fa_wrapper round'><i
                                                            class='cws_fa fa fa-1x fa-users'></i><span
                                                            class='ring'></span>
                                                    </div>
                                                </div>
                                                <div class='cws_fa_tbl_cell'>
                                                    <h3>Yakınlık istemediğinde çocukların "hayır" deme hakkına sahip
                                                        olduğu
                                                        öğretilmelidir.</h3></div>
                                            </div>
                                            <div class='cws_fa_tbl_row'>
                                                <div class='cws_fa_tbl_cell'></div>
                                                <div class='cws_fa_tbl_cell'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / section -->
                        <!-- divider -->
                        <div class='grid_row clearfix' style='padding-bottom: 50px;'>
                            <div class='grid_col grid_col_12'>
                                <div class='ce clearfix'>
                                    <div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / divider -->
                        <!-- section -->
                        <div class='grid_row clearfix' style='padding-top: 0px;'>
                            <div class='grid_col grid_col_12'>
                                <div class='ce clearfix'>
                                    <div>
                                        <h3 class="ce_title" style="text-align: center;">Saf olan her şey <span>ÇocukÇa'dır...</span><br/>
                                        </h3>
                                        <p style="text-align: center;">Çocuklarımızı yeterince koruyabiliyor muyuz
                                            sizce?
                                            <br> Öyle "elin yanar yaklaşma, düşersin koşma, kaybolursun uzaklaşma..."
                                            diyerek korumak değil bizim bahsettiğimiz.<br>
                                            Bedenlerini tertemiz büyütmelerini, ruhlarını safça gençliğe
                                            taşıyabilmelerini
                                            sağlayacak kadar koruyabiliyor muyuz onları?</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / section -->
                        <!-- section gallery -->
                        <div class='grid_row clearfix'>
                            <div class='grid_col grid_col_12'>
                                <div class='ce clearfix'></div>
                            </div>
                        </div>
                        <!-- / gallery section -->
                        <!-- section -->
                        <div class='grid_row clearfix' style='padding-top: 50px;padding-bottom: 50px;'>
                            <div class='grid_col grid_col_12'>
                                <div class='ce clearfix'>
                                    <div class='cws_callout'>
                                        <div class='content_section'>
                                            <div class='callout_title'>
                                                <div class="bees bees-end"><span></span></div>
                                                BİZE ULAŞIN
                                            </div>
                                            <div class='separate'></div>
                                            <div class='callout_text'>
                                                <p>Bizimle iletişime geçerek etkinliklerimizden haberdar olmak için
                                                    tıklayın!</p>
                                            </div>
                                        </div>
                                        <div class='button_section'><a href='iletisim.html' class='cws_button xlarge'>İletişim
                                            <div class='button-shadow'></div>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / section -->
                    </main>
                    <!-- pettaren container / -->
                    <div class='right-pattern pattern pattern-2'></div>
                    <!-- footer image container / -->
                    <div class="footer_image"></div>
                </div>
                <!-- svg filter -->
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style='display:none;'>
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"/>
                            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                           result="goo"/>
                            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                        </filter>
                    </defs>
                </svg>
                <!-- / svg filter -->
            </div>
            <!-- #main -->
            <!-- footer -->
            <div class='footer_wrapper_copyright'>
                <!-- canvas -->
                <div class='half_sin_wrapper'>
                    <canvas class='half_sin' data-bg-color='23,108,129' data-line-color='23,108,129'></canvas>
                </div>
                <!-- / canvas -->

                <!-- copyright -->
                <div class='copyrights_area'>
                    <!-- canvas -->
                    <div class='half_sin_wrapper'>
                        <canvas class='footer_half_sin' data-bg-color='14,64,77' data-line-color='14,64,77'></canvas>
                    </div>
                    <!-- / canvas -->
                    <div class='container-fluid'>
                        <div class='copyrights_container'>
                            <div class='copyrights'>
                                <div class="grid_col_4" style="text-align: center;float:left;">
                                    <div class="copyr"><p>Copyrights ©2017: cocukcacim.org</p></div>
                                </div>
                                <div class="grid_col_4" style="text-align: center;float:left;">
                                    <a class="orgino" href="http://orgino.com.tr/"><img src="img/orginologo.svg"
                                                                                        alt="Orgino"></a>
                                </div>
                                <div class="grid_col_4" style="text-align: right;float:left;">
                                    <div class='cws_social_links'><a href='https://twitter.com/cocukcacim'
                                                                     target="_blank" class='cws_social_link'
                                                                     title='Twitter'><i
                                            class='share-icon fa fa-twitter'></i></a><a
                                            href='https://www.facebook.com/cocukcacim/?ref=bookmarks' target="_blank"
                                            class='cws_social_link' title='Facebook'><i
                                            class='share-icon fa fa-facebook'></i></a><a
                                            href='https://www.instagram.com/cocukcacim/' target="_blank"
                                            class='cws_social_link' title='İnstagram'><i
                                            class='share-icon fa fa-instagram'></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class='copyrights_panel'>
                                <div class='copyrights_panel_wrapper'>
                                    <div class="lang_bar">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / copyright -->
            </div>
        </div>
        <!-- #page -->
        <div class='scroll_top animated'></div>
        <div id="lang_sel_footer">
            <ul>
                <li>
                    <a href="index.html" class="lang_sel_sel"><img src="img/en.png" alt="English" class="iclflag"
                                                                   title="English"/>&nbsp;English</a>
                </li>
                <li>
                    <a href="#"><img src="img/fr.png" alt="Français" class="iclflag"
                                     title="Français"/>&nbsp;Français</a>
                </li>
                <li>
                    <a href="#"><img src="img/de.png" alt="Deutsch" class="iclflag" title="Deutsch"/>&nbsp;Deutsch</a>
                </li>
            </ul>
        </div>
        <script type='text/javascript' src='js/retina_1.3.0.js'></script>
        <script type='text/javascript' src='js/modernizr.js'></script>
        <script type='text/javascript' src='js/owl.carousel.js'></script>
        <script type='text/javascript' src='js/TweenMax.min.js'></script>
        <script type='text/javascript' src='js/jquery.isotope.min.js'></script>
        <script type='text/javascript' src='js/jquery.fancybox.js'></script>
        <script type='text/javascript' src='js/select2.min.js'></script>
        <script type='text/javascript' src='js/wow.min.js'></script>
        <script type='text/javascript' src='js/jquery.validate.min.js'></script>
        <script type='text/javascript' src="js/jquery.form.min.js"></script>
        <script type='text/javascript' src='js/scripts.js'></script>
        <script type='text/javascript' src="js/jquery.tweet.js"></script>
    </div>
{% endblock %}

